//primary colors
$primary-color:#BF9B30;
$secondary-color:#E9BC57;
$background-color:#F9F9F5;
$header-color:#F5F5F6;
$footer-color:#221F1F;
$min-footer-color:#4E4C4C;
$font-color:#7A7979;
$title-color:#221F1F;
$min-title-color:#E9E9E9;
$mid-gray:#A7A5A5;
$gray-icon:#FDFDFD;
$card-btn:#F9F9FA;
$white:#fff;
$black:#000;
$yellow:#E4AB2D;
$green:#2EB99B;
$light-gray:#F1F4F8;
$secnd-gray:#E9EDF3;
$dark-gray:#353535;
$mid-gray:#CCCED1;
$border:#E0E0E0;
$icon:#7E8E8D;
$card:#F7F7F8;

